asgiref==3.6.0
boto3==1.26.124
botocore==1.29.124
crispy-bootstrap5==0.7
Django==4.2
django-bootstrap-v5==1.0.11
django-cleanup==7.0.0
django-crispy-forms==2.0
django-dotenv==1.4.2
django-htmx==1.14.0
django-resized==1.0.2
django-storages==1.13.2
django-tinymce==3.6.1
enchant==0.0.1
jmespath==1.0.1
Pillow==9.5.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.15
psycopg2-binary
gunicorn==20.1.0
requests==2.31.0
sentry_sdk