.blog-hero img{
    height: 450px;
    object-fit: cover;
}

.blog-tile{
    border-radius: 30px 30px 0px 0px;
}

.blog-tile:hover,
.blog-hero:hover {
    box-shadow: 5px 5px 5px #e3e5e5;
}

.blog-tile-image {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.blog-tile-image,
.blog-hero img,
.blog-hero {
    border-radius: 30px;
}

.gallery img {
    height: 450px;
    object-fit: contain;
}

.img-text {
    background-color: #727275c1;
    color: white;
    padding: 5px;
}

.tag-small,
.grey-tag-small {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 600;
    border: 2px solid black;
    padding: 10px 5px;
    text-align: center;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    width: 100px;
    background-color: white;
}

.grey-tag-small {
    background-color: #f0f3f3;
}


@media only screen and (max-width: 991px){

    .blog-hero img {
        border-radius: 0px;
    }

    .blog-tile-image {
        height: 320px;
    }

}