tr td:nth-child(1) {
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    font-family: 'Roboto Serif', serif;
}

tr td:nth-child(2) {
    padding-left: 10px;
}
tr td:nth-child(1) {
    width: 200px;
}

.short-info {
    line-height: .5em;
}


@media only screen and (max-width: 991px) {
    tr {
        font-size: .9em;
    }
    
}