.brand-img img {
    height: 300px;
    object-fit: contain;
}

.btn {
    --bs-btn-border-width: none!important;
}

.brand-hero {
    height: 500px;
    border-radius: 30px;
    object-fit: contain;
}