.brand-img img {
    height: 300px;
    object-fit: contain;
}

.dropdown-menu p:hover{
    background-color: black;
    color: white;
}

.btn {
    --bs-btn-border-width: none!important;
}

.rounded-corner {
    border-radius: 30px;
}

.brand-hero {
    height: 500px;
    border-radius: 30px;
    object-fit: contain;
}