.item-table td{
    padding: 5px 10px;
}

.item-table td {
    margin-right: 15px;
}

.thumbnail img {
    height: 75px;
    object-fit: cover;
}

.thumbnail img:hover {
    box-shadow: 5px 5px 5px #e3e5e5;
}

.dashboard-menu h2:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.edit-delete:hover {
    background-color: black;
    color: white;
}

.item-table tr:hover {
    background-color: #cecece;
    cursor: pointer;
}