.corner {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}

.form-text h2{
    text-align: center;
    margin-bottom: 20px;
}

.link {
    font-size: 1rem;
}

.mini {
    font-size: 5;
}