
/* FONTS

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Serif', serif; */

/* Colors
Backgrounds: #f0f3f3



/* MAIN CSS */

.test{
    border: 1px solid red;
}

.top-min{
    top: -50px !important;
}


#top {
    padding-top: 1px;
}

h1, h2, h3, h4, .ql-font-roboto, .nav-link {
    font-family: 'Roboto', sans-serif;
}


p, li, a, td, i, h5, .ql-font-robotoserif  {
    font-family: 'Roboto Serif', serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.grey {
    background-color: #f0f3f3;
}

.bold {
    font-weight: 600;
}

.thumb img {
    object-fit: fill;
}

/* NAVIGATION */
.logo-big {
    width: 350px;
}

.nav-link::before{
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav-link:hover{
    font-weight: bold;
}

/* MAIN */

button {
    background-color: transparent;
    border: transparent;
}

.button, 
.age-button,
.button-blog {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 600;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    background-color: white;
}

.age-button{
    color: black;
}

.grey-button,
.grey-button-blog {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 600;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    background-color: #f0f3f3;
}

.button-blog {
    font-size: 12px;
    padding: 10px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttona {
    font-size: 16px;
    font-family: 'Roboto';
}

.button:hover, 
.grey-button:hover,
.button-small:hover {
    font-weight: 600;
    border: 2px solid black;
    background-color: black;
    color: white;
}

.tile-image {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.tile-image img {
    border-radius: 30px;
}

.tile {
    border-radius: 30px 30px 0px 0px;
}

.tile:hover {
    box-shadow: 5px 5px 5px #e3e5e5;
}


.brand-img img {
    height: 300px;
    object-fit: contain;
}

.main {
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
}

.main-category {
    object-fit: cover;
}

.hero-image img{
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
}

.hero-image:hover {
    box-shadow: 5px 5px 5px #e3e5e5;
}

.round,
.round-filter {
    border-radius: 30px;
}

.bottle_link:hover {
    background-color: black;
    color: white;
}

/* FOOTER */
.footer {
    border-top: 1px #cecece;
    margin-top: 50px;
}

.logo{
    width: 100px;
    height: 100px;
}

.dropdown-menu p:hover{
    background-color: black;
    color: white;
}

.tag-small,
.grey-tag-small,
.button-small {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 600;
    border: 2px solid black;
    padding: 10px 5px;
    text-align: center;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    width: 100px;
    background-color: white;
}

.grey-tag-small {
    background-color: #f0f3f3;
}



/* SLOW LOAD ANIMATION */

.slow-load {
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* MEDIA QUERIES */

@media only screen and (max-width: 991px){
    .logo-big {
        width: 180px;
    }

    .main {
        height: 275px;
        border-radius: 0;
    }

    .hero-image {
        border-radius: 0px;
    }

    .button {
        width: 175px;
    }

    .age-button {
        width: 145px;
        padding: 15px;
    }

    .round {
        border-radius: 0px;
    }

    .footer {
        margin-top: 0;
    }

    .tag-small,
    .grey-tag-small {
        font-size: 11px;
        font-family: 'Roboto';
        font-weight: 600;
        border: 2px solid black;
        padding: 8px 4px;
        text-align: center;
        display: inline-block;
        margin: 2px 1px;
        cursor: pointer;
        width: 80px;
    }
}