{% extends 'base.html' %}
{% load static %}
{% load academy_tags %}
{% block title %}About Barts Academy{% endblock title %}
{% block meta-seo %}

    <meta name='description' content="At Barts Academy we care about providing you with all the spirits info, trends, trainings and recipes you could ever want">
    <meta name='keywords' content="Barts Academy, Bartending, Bar academy, free cocktails, learning cocktails, bar management, spirits, liqueurs">

{% endblock meta-seo %}


{% block page-css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock page-css %}

{% block content %}

<div class='container py-5'>

    <h1 class='mb-2'>ABOUT BART'S ACADEMY</h1>
        <article class='my-3'>
            <p>
                Welcome to class at Bart's Academy! The place where you can learn everything about our
                favorite topics: spirits and cocktails. It's the only school where doing fractions adds up to a
                delicious drink.
            </p>
            <p>
                Bart's Academy is an online educational platform for cocktail professionals and at-home spirits
                enthusiasts. Learn all there is to know about spirits, cocktails, and brands through video classes,
                cocktail recipes by international bartenders, blogs, and brand deep dives. Whether you're
                greener than a splash of absinth or are a true bar veteran, there's always something to learn
                within our curriculum.
            </p>
            <p>
                At Bart's Academy, we cover all the basics. What styles of rum are there? What is distilling?
                What is the process of fermentation? But as we are cocktail nerds at heart, we love to take you
                on a deep dive and geek out together just as much. To do so, we work with experts in all related
                fields. Bart's Academy is created as a collaborative learning platform, partnering with some of the
                best within the industry to create educational videos and blogs. (Sounds like you? Send us a
                message.) 
            </p>
            <h2 class='my-5'>FROM NECESSITY TO PASSION PROJECT</h2>
            <p>
                How it all started
                We'd rather not think back to 2020. But it's where it all started. During one of the many
                lockdowns, we sought a way to continue doing what we do best: sharing knowledge with people
                who love cocktails and spirits. And, like many others, we found our educational space online,
                hosting digital tastings and Q&As, distillery tours, and interviews with professionals in the field.
                Four years later, our little lockdown project has transformed into a full educational platform made
                in collaboration with cocktail and spirit icons.
            </p>
            <h2 class='my-5'>ALL BOTTLES, NOT JUST BART'S</h2>
            <p>
                Bart;s Academy is made by the team of Cane & Grain and Bart;s Bottles - hence the name. But
                we don't pick favorites. We include all kinds of spirits from all sorts of makers and distributors.
                Would you like to have your brand represented in the academy? Reach out!
            </p>
            <h2 class='my-5'>ARE YOU THIRSTY FOR SOME KNOWLEDGE?</h2>
            <p>
                Let's quench that thirst. Let us know which topics you'd like to learn more about by sending us a
                quick email.
            </p>


        </article>
</div>


{% endblock content %}