{% extends 'base.html' %}
{% load static %}

{% block title %}{{blog.name}}{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/blog.css' %}">{% endblock page-css %}

{% block content %}

<div id='top'></div>
{% for blog in blogs  %}
{% if forloop.first %}
<div class='container blog-hero my-5 slow-load'>
    <a href="{{blog.get_absolute_url}}">
    <div class='row'>
        <img class='col-md-6 img-fluid g-0' src={{blog.hero_image.url}} alt="Latest blog image">
        <div class='col-md-6'>
            <h1 class='mb-5 text-center'>{{blog.name}}</h1>
            <p>{{blog.teaser | safe}}</p>


            <div class='d-flex justify-content-center'>
                <i>{{blog.blog_date_edit}}</i>
            </div>
            <div class='d-flex justify-content-center'>
                {% for tag in blog.category_tag.all  %}
                    {% if tag.subcategory %}
                        <h3 class='button-blog'>{{tag.subcategory}}</h3>
                    {% else %}
                        <h3 class='button-blog'>{{tag.name}}</h3>
                    {% endif %}
                {% endfor %}
                {% for tag in blog.brand_tag.all  %}
                    <h3 class='button-blog'>{{ tag.name }}</h3>
                {% endfor %}

            </div>
        </div>
    </div>
    </a>
</div>
{% endif %}
{% endfor %}

<div class='container filters my-5 text-center'>
    <h1>--- FILTERS HERE ---</h1>
</div>



<div class='container my-5 slow-load'>
    <div class='row d-flex justify-content-center g-0'>

        {% for blog in blogs  %}
            {% if not forloop.first %}
        
            <div class='col-md-4 col-lg-3 col-sm-4 m-2 blog-tile'>
                <a href="{{blog.get_absolute_url}}">
                    <div class='mb-2 text-center'>
                        <img class='img-fluid blog-tile-image' src={{blog.hero_image.url}} class='img-fluid' alt="Picture of {{blog.name}}">
                    </div>
                    
                    <div class="text-center">
                        <h2>{{blog.name | upper}}</h2>
                        <i>{{blog.blog_date_edit}}</i>
                        <div>
                        {% for tag in blog.category_tag.all  %}
                            {% if tag.subcategory %}
                            <h3 class='button-small'>{{tag.subcategory}}</h3>
                            {% else %}
                            <h3 class='button-small'>{{tag.name}}</h3>
                            {% endif %}
                        {% endfor %}
                        {% for tag in blog.brand_tag.all  %}
                            <h3 class='button-small'>{{ tag.name }}</h3>
                        {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
       
    </div>
</div>

{% endblock content %}