{% extends 'base.html' %}
{% load static %}

{% block title %}{{blog.name}}{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/blog.css' %}">{% endblock page-css %}

{% block meta-seo %}

    <meta name='description' content="{{blog.name}} - Barts Academy">
    <meta name='keywords' content="Barts Academy, {{blog.name}}, {% for category in blog.category_tag.all %}{{category}}, {% endfor %}, {% for brand in blog.category_tag.all %}{{brand}}, {% endfor %}, Spirits, Liqueurs">

{% endblock meta-seo %}

{% block content %}
<div id='top'></div>
<div class='container'>

    <div class='my-5 text-center'> 
        <h1>{{blog.name | upper}}</h1>
        <i>{{blog.blog_date_edit}}</i>
        <div>
        {% for tag in blog.category_tag.all  %}
            {% if tag.subcategory %}
            <a href="{% url 'Academy:blogs_filtered' type="category" filter=tag.subcategory %}#top">
                <h3 class='button-small'>{{tag.subcategory}}</h3>
            </a>
            {% else %}
            <a href="{% url 'Academy:blogs_filtered' filter=tag.name %}#top">
                <h3 class='button-small'>{{tag.name}}</h3>
            </a>
            {% endif %}
        {% endfor %}
        <a href="{% url 'Academy:blogs_filtered' type="type" filter=blog.type_tag %}#top">
            <h3 class='button-small'>{{blog.type_tag}}</h3>
        </a>
        </div>
    </div>
    <article>
        {{blog.teaser | safe}}
    </article>
    <div class='d-flex justify-content-center'>
        {% if blog.video %}
        
            <video controls class='hero-video my-5'> 
                <source src="{{blog.video.url}}">
            </video>

        {% else %}
            <img class='my-5 img-fluid' src="{{blog.hero_image.url}}" alt="{{blog.name}} picture">        
        {% endif %}

    </div>
    <article>
        {{blog.text | safe}}

    {% if gallery %}
        <div id="imageGallery" class="carousel carousel-dark gallery slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">

            {% for image in gallery  %}  
              <button type="button" data-bs-target="#imageGallery" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
            {% endfor %}    

            </div>
            <div class="carousel-inner">

              {% for image in gallery  %}
              {% if forloop.first %}
                <div class="carousel-item active">
                    <img src="{{image.image.url}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-md-block">
                        <h3 class='img-text'>{{image.image_text}}</h3>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item">
                    <img src="{{image.image.url}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-md-block">
                      <h3 class='img-text'>{{image.image_text}}</h3>
                    </div>
                </div>
                {% endif %}
                {% endfor %}  
            
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#imageGallery" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageGallery" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          {% endif %}    
    </article>
</div>


{% endblock content %}