{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Barts Academy - CRUD admin{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/forms.css' %}"> {{blog_form.media}} {% endblock page-css %}

{% block content %}

<div class='container'> 
    <div class='row form-text'>
        <h1 class='text-center my-5'>Add & Update</h1>
        <h3 class='text-center my-2'>Blog</h3>
       {% if message %}
            <div> 
                <div><h2>{{message}}</h2></div>
                <div class='d-flex justify-content-center'><a href="{{object.get_absolute_url}}"><h2 class='button'>Check {% if object.subcategory %}{{object.subcategory}}{% elif object.brand %}{{object.brand}} - {{object.name}} {% else %}{{object.name}}{% endif %}</h2></a></div>
            </div>
        
       {% endif %}

       <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ blog_form | crispy}}
        

          <div class="formset corner mt-5" id='formset'>
            <div class='text-center'>
              <h2>Add image gallery</h2>
              <b><i>Max 4 tags total.</i></b>
            </div>
            
  
            {% for form in formset %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            <div class='image-form'>
              {{form | crispy}}
            </div>
            {% endfor %}
  
  
            <button id='add-form' class='my-5 btn btn-secondary text-center' type="button">Add</button>        
          </div>
  
          <div class='text-center mt-5'>
            <button class='my-5 btn btn-secondary' type="submit">Save</button>        
          </div>

      </form>

      
    </div>
</div>


{% endblock content %} 