{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Barts Academy - CRUD admin{% endblock title %}
{% block page-css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css"> 
  {{blog_form.media}} 
{% endblock page-css %}

{% block content %}

<div class='container'> 
    <div class='row form-text'>
        <h1 class='text-center my-5'>Add & Update</h1>
        <h3 class='text-center my-2'>Blog</h3>

       <form enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form | crispy }}
        {{ blog_form | crispy }}
        

          <div class="formset corner mt-5" id='formset'>
            <div class='text-center'>
              <h2>Add image gallery</h2>
            </div>
            
  
            {% for form in formset %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            <div class='image-form'>
              {{ form | crispy }}
            </div>
            {% endfor %}
  
  
            <button id='add-form' class='my-5 btn btn-secondary text-center' type="button">Add</button>        
          </div>
  
          <div class='text-center mt-5'>
            <button class='my-5 btn btn-secondary' type="submit">Save</button>        
          </div>

      </form>

      
    </div>
</div>

<script>



</script>


{% endblock content %} 


{% block scripts %}

<script src="https://cdn.tiny.cloud/1/i7tg69zsj8xu2h7jinf65cpdznto148y1qexevwopnv9m9ng/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
<script src="{% static 'scripts/forms.js' %}"></script>

{% endblock scripts %}
