{% extends 'base.html' %}
{% load static %}

{% block title %}Bart's Academy Blog overview{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/blog.css' %}">{% endblock page-css %}


{% block meta-seo %}

    <meta name='description' content="Blog list - Barts Academy">
    <meta name='keywords' content="Barts Academy, blog, bar academy, cocktails, bartender training, bartender cursus, Spirits, Liqueurs">

{% endblock meta-seo %}



{% block content %}

<div id='top'></div>
{% for blog in blogs  %}
{% if forloop.first %}
<div class='container blog-hero my-5 slow-load'>
    <a href="{{blog.get_absolute_url}}#top">
    <div class='row'>
        <img class='col-md-6 img-fluid g-0' src={{blog.hero_image.url}} alt="Latest blog image">
        <div class='col-md-6'>
            <h1 class='text-center'>{{blog.name}}</h1>
            <div class='d-flex justify-content-center mb-2'>
                <i>{{blog.blog_date_edit}}</i>
            </div>
            <p>{{blog.teaser | safe}}</p>



            <div class='d-flex justify-content-center'>
                {% for tag in blog.category_tag.all  %}
                    {% if tag.subcategory %}
                        <h3 class='button-blog'>{{tag.subcategory}}</h3>
                    {% else %}
                        <h3 class='button-blog'>{{tag.name}}</h3>
                    {% endif %}
                {% endfor %}
                {% for tag in blog.brand_tag.all  %}
                    <h3 class='button-blog'>{{ tag.name }}</h3>
                {% endfor %}

            </div>
        </div>
    </div>
    </a>
</div>
{% endif %}
{% endfor %}

<!-- FILTERS FOR BLOGS -->
<div class='container filters my-5 text-center grey p-3'>
    <h3>FILTERS</h3>
    <div class='d-flex justify-content-center mx-5 row'>
        <div class="dropdown-center show">
            <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h4 class='grey-button'>Category</h4>
            </a>
        
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='myDropdown'>
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" class='form-control my-3'>
                        <p  hx-get="{% url 'Academy:blog_list' %}"
                        hx-trigger='click'
                        hx-target='#blogs'
                        hx-swap='outerhtml'
                        hx-push-url='true'                             
                        >All categories</p>
                    {% for category in categories  %}
                        <p  hx-get="{% url 'Academy:blogs_filtered' filter=category %}"
                            hx-trigger='click'
                            hx-target='#blogs'
                            hx-swap='outerhtml'
                            hx-push-url='true'>
                            {{category}}</p>
                    {% endfor %}     
            </div>
        </div>
    </div>
    <div class='col-lg-3'></div>
</div>
</div>



<div class='container my-5 slow-load' id='blogs'>
    <div class='row d-flex justify-content-center g-0'>

        {% for blog in blogs  %}
            {% if not forloop.first %}
        
            <div class='col-md-4 col-lg-3 col-sm-4 m-2 blog-tile'>
                <a href="{{blog.get_absolute_url}}#top">
                    <div class='mb-2 text-center'>
                        <img class='img-fluid blog-tile-image' src={{blog.hero_image.url}} class='img-fluid' alt="Picture of {{blog.name}}">
                    </div>
                    
                    <div class="text-center">
                        <h2>{{blog.name | upper}}</h2>
                        <i>{{blog.blog_date_edit}}</i>
                        <div>
                        {% for tag in blog.category_tag.all  %}
                            {% if tag.subcategory %}
                            <h3 class='button-small'>{{tag.subcategory}}</h3>
                            {% else %}
                            <h3 class='button-small'>{{tag.name}}</h3>
                            {% endif %}
                        {% endfor %}
                        {% for tag in blog.brand_tag.all  %}
                            <h3 class='button-small'>{{ tag.name }}</h3>
                        {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
       
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.tiny.cloud/1/i7tg69zsj8xu2h7jinf65cpdznto148y1qexevwopnv9m9ng/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

{% endblock scripts %}