{% extends 'base.html' %}
{% load static %}
{% block title %}Brands{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/brands.css' %}">{% endblock page-css %}

{% block meta-seo %}

    <meta name='description' content="Find an overview of all brands and their background information on Barts Academy.">
    <meta name='keywords' content="Barts Academy,{% for brand in brands %}{{brand}} {% endfor %}, Spirits, Liqueurs">

{% endblock meta-seo %}

{% block content %}
<div class='container my-5'>
    <div id='top'></div>
    <div class='row my-5'>
        <h2 class='text-center bold'>LEARN MORE</h2> 
        <h4 class='text-center'><i>Learn all you ever wanted to know about each brand</i></h4>
    </div>

    <div class='text-center grey py-2 round'>
        <h4>FILTERS</h4>
        <div class='d-flex flex-sm-row flex-column justify-content-center text-center'>
                <div class="dropdown-center show">
                    <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h4 class='grey-button'>CATEGORY</h4>
                    </a>
                
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='categoryDropdown'>
                                <input type="text" placeholder="Search.." id="myInputCategory" onkeyup="filterFunction('myInputCategory', 'categoryDropdown')" class='form-control my-3 w-75 mx-auto'>
                                <p  hx-get="{% url 'Academy:brands' %}"
                                hx-trigger='click'
                                hx-target='#brands'
                                hx-swap='outerhtml'
                                hx-push-url='true'                            
                                >All categories</p>
                            {% for category in category_list  %}
                                <p  hx-get="{% url 'Academy:brand_filtered' filter=category %}"
                                    hx-trigger='click'
                                    hx-target='#brands'
                                    hx-swap='outerhtml'
                                    hx-push-url='true'>
                                {{category}}</p>
                            {% endfor %}     
                    </div>
                </div>


                <div class="dropdown-center show">
                    <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false my-1">
                    <h4 class='grey-button'>COUNTRY</h4>
                    </a>
                
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='countryDropdown'>
                        <input type="text" placeholder="Search.." id="myInputCountry" onkeyup="filterFunction('myInputCountry', 'countryDropdown')" class='form-control my-3 w-75 mx-auto'>
                        <p  hx-get="{% url 'Academy:brands' %}"
                            hx-trigger='click'
                            hx-target='#brands'
                            hx-swap='outerhtml'
                            hx-push-url='true'                            
                            >All countries</p>
                        {% for country in country_list  %}
                                <p class='text-center'
                                    hx-get="{% url 'Academy:brand_filtered' filter=country %}"
                                    hx-trigger='click'
                                    hx-target='#brands'
                                    hx-swap='outerhtml'
                                    hx-push-url='true'>
                                    {{country}}</p>
            
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div class='row'>

            <div class='d-flex flex-sm-row flex-column justify-content-center text-center'>
                <input type="text" placeholder="Search.." id="myInputBrands" onkeyup="searchFunction('myInputBrands', 'tile')" class='form-control my-3 w-50 mx-auto'>
            </div>

        </div>
    </div>
 
    <div class='container' id='brands'>
        <div class='row d-flex justify-content-center slow-load'>
            {% for brand in brands  %}
            <div class="col-md-3 m-3 tile slow-load" id="{{brand.name | upper}}"> 
                <a href="{{brand.get_bottle_by_brand_link}}#top">
                <div class='my-4 brand-img text-center'>
                    <img class='img-fluid' src={{brand.image.url}} class='img-fluid' alt="Picture of {{brand.name}}">
                </div>
                
                <div class="text-center">
                    <h2>{{brand.name | upper}}</h2>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>

{% endblock scripts %}