{% extends 'base.html' %}
{% load static %}
{% block title %}{{brand.name}} overview{% endblock title %}
{% block page-css %}
    <link rel="stylesheet" href="{% static 'css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock page-css %}

{% block meta-seo %}

    <meta name='description' content="Learn about {{brand.name}} and {% for category in brand.category.all%} {{category}}, {%endfor%} - Barts Academy">
    <meta name='keywords' content="{{brand.name}}, {% for category in brand.category.all%} {{category}}, {%endfor%} bartending, Spirits, Liqueurs">

{% endblock meta-seo %}

{% block content %}

<div class='container my-2'>
    <div id='top'></div>
    <div class='row my-5'>
        <h2 class='text-center bold'>LEARN MORE</h2> 
        <h4 class='text-center'><i>Learn all you ever wanted to know about {{brand.name}} </i></h4>
    </div>
</div>

<div class='container mb-4'>
    <div class='row my-2'>
        <div class='col-lg-6 p-3'>
            <article>
                <h4 class='mb-3 text-center'>About {{brand.name}}</h4>
                <p>
                    {{brand.story | safe}}
                </p>
            </article>    
        </div>
        {% if brand.video %}
            <video controls class='embed-responsive embed-responsive-16by9 col-lg-6 round'>
                <source src="{{brand.video.url}}">
            </video>
        {% else %}
            <img class='brand-hero col-lg-6 img-fluid' src="{{brand.image.url}}" alt="Picture" title="{{brand.name}}">
        {% endif %}

    </div>

</div>

<!--OVERVIEW OF RELATED BLOGS-->
{% if related_blogs %}
{% for blog in related_blogs  %}
{% if forloop.first %}
<div class='container blog-hero category-blog my-5 slow-load'>
    <a href="{{blog.get_absolute_url}}#top">
    <div class='row'>
        <img class='col-md-6 img-fluid g-0' src={{blog.hero_image.url}} alt="Latest blog image">
        <div class='col-md-6'>
            <h1 class='text-center'>{{blog.name}}</h1>
            <div class='d-flex justify-content-center mb-2'>
                <i>{{blog.blog_date_edit}}</i>
            </div>
            <p>{{blog.teaser | safe}}</p>



            <div class='d-flex justify-content-center'>
                {% for tag in blog.category_tag.all  %}
                    {% if tag.subcategory %}
                        <h3 class='button-blog'>{{tag.subcategory}}</h3>
                    {% else %}
                        <h3 class='button-blog'>{{tag.name}}</h3>
                    {% endif %}
                {% endfor %}
                <h3 class='grey-button-blog'>{{blog.type_tag}}</h3>
            </div>
        </div>
    </div>
    </a>
</div>
{% endif %}
{% endfor %}
{% endif %}


<div class='container my-3'>
    {% if brand.category.all|length > 1 %}
    <div class='text-center'>
        <h3>Filters</h3>
        <div class='d-flex justify-content-center mx-5 row'>
                <div class="dropdown-center show">
                    <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h4 class='age-button'>CATEGORY</h4>
                    </a>
                
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='myDropdown'>
                                <p  hx-get=hx-get="{% url 'Academy:bottle_filtered' filter=brand.name %}"
                                hx-trigger='click'
                                hx-target='#brands'
                                hx-swap='outerhtml'                            
                                >All categories</p>
                            {% for category in brand.category.all  %}
                                <p  hx-get="{% url 'Academy:bottle_filtered' filter=category %}"
                                    hx-trigger='click'
                                    hx-target='#brands'
                                    hx-swap='outerhtml'>
                                {{category}}</p>
                            {% endfor %}     
                    </div>
                </div>
            </div>
            <div class='col-lg-3'></div>
        </div>
    </div>
    {% endif %}

    <div class='container' id='brands'>
        <div class='row d-flex justify-content-center'>
            {% for bottle in bottles  %}
            <div class="col-md-3 m-3 tile"> 
                <a href="{{bottle.get_absolute_url}}">
                <div class='my-4 brand-img text-center'>
                    <img class='img-fluid' src={{bottle.image}} class='img-fluid' alt="Picture of {{bottle.name}}">
                </div>
                
                <div class="text-center">
                    <i><h4>{{bottle.brand}}</h4></i>
                    <h2>{{bottle.name | upper}}</h2>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>   

</div>

{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>

{% endblock scripts %}