{% extends 'base.html' %}
{% load static %}
{% block title %}{{brand.name}} overview{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/brands.css' %}">{% endblock page-css %}

{% block content %}

<div class='container my-2'>
    <div id='top'></div>
    <div class='row my-5'>
        <h1 class='text-center bold'>LEARN MORE</h1> 
        <h5 class='text-center'><i>Learn all you ever wanted to know about {{brand.name}} </i></h5>
    </div>
</div>

<div class='container'>
    <div class='row my-2'>
        <div class='col-lg-6 p-3'>
            <article>
                <h5 class='mb-3 text-center'>About {{brand.name}}</h5>
                <p>
                    {{brand.story | safe}}
                </p>
            </article>    
        </div>
        {% if brand.video %}
            <video controls class='hero-video col-lg-6'> 
                <source src="{{brand.video.url}}">
            </video>
        {% else %}
            <img class='brand-hero col-lg-6 img-fluid' src="{{brand.image.url}}" alt="Picture" title="{{brand.name}}">
        {% endif %}

    </div>

</div>


<div class='container my-2'>
    <div class='text-center'>
        <h3>Filters</h3>
        <div class='d-flex justify-content-center mx-5 row'>
                <div class="dropdown-center show">
                    <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h4 class='age-button'>CATEGORY</h4>
                    </a>
                
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='myDropdown'>
                                <p  hx-get=hx-get="{% url 'Academy:bottle_filtered' filter=brand.name %}"
                                hx-trigger='click'
                                hx-target='#brands'
                                hx-swap='outerhtml'                            
                                >All categories</p>
                            {% for category in brand.category.all  %}
                                <p  hx-get="{% url 'Academy:bottle_filtered' filter=category %}"
                                    hx-trigger='click'
                                    hx-target='#brands'
                                    hx-swap='outerhtml'>
                                {{category}}</p>
                            {% endfor %}     
                    </div>
                </div>
            </div>
            <div class='col-lg-3'></div>
        </div>
    </div>

    <div class='container' id='brands'>
        <div class='row d-flex justify-content-center'>
            {% for bottle in bottles  %}
            <div class="col-md-3 m-3 brand-tile"> 
                <a href="{{bottle.get_absolute_url}}">
                <div class='my-4 brand-img text-center'>
                    <img class='img-fluid' src={{bottle.image.url}} class='img-fluid' alt="Picture of {{bottle.name}}">
                </div>
                
                <div class="text-center">
                    <i><h4>{{bottle.brand}}</h4></i>
                    <h2>{{bottle.name | upper}}</h2>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>   

</div>

{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>

{% endblock scripts %}