{% extends 'base.html' %}
{% load static %}
{% block title %}Barts Academy: {% if category.subcategory %}{{category.subcategory}}{% else %}{{category.name}}{% endif %}{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/categories.css' %}">{% endblock page-css %}

{% block content %}


<div class='container my-5'>
    <div class='row my-2'>
        <h1 class='text-center bold'>{% if category.subcategory %}{{category.subcategory | upper}}{% else %}{{category.name | upper}}{% endif %}</h1> 
        <h5 class='subtitle text-center mb-5'><i>Learn all you ever wanted to know about {% if category.subcategory %}{{category.subcategory}}{% else %}{{category.name}}{% endif %}</i></h5>
    </div>
<!--CATEGORY HEADER-->
    <div class='row my-2'>
        <div class='col-lg-6 p-3'>
            <article>
                <h1 class='mb-3 text-center'>ABOUT {% if category.subcategory %}{{category.subcategory | upper}}{% else %}{{category.name | upper}}{% endif %}</h1>
                <p>
                    {{category.teaser | safe}}
                </p>
            </article>
            <div class='d-flex justify-content-center my-2'> 
                <a data-bs-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseInfo"> 
                    <h2 class='button'>READ MORE</h2>
                </a>
            </div>
            <div class='row my-5 collapse' id='collapseInfo'>
                {{category.info|safe}}      
                <div class='d-flex justify-content-center my-2'> 
                    <a data-bs-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseInfo"> 
                        <h2 class='button'>CLOSE</h2>
                    </a>
                </div>  
            </div>
        </div>
        <img class='main col-lg-6 img-fluid' src="{{category.image.url}}" alt="Picture" title="{% if category.subcategory %}{{category.subcategory}}{% else %}{{category.name}}{% endif %}">
    </div>

    <!--COLLAPSE FOR CATEGORY TEXT-->


<!--OVERVIEW OF RELATED BLOGS-->
{% if related_blogs %}
    <div class='container text-center my-5'>
        <h1>READ ALL ABOUT IT</h1>
        <div class='row'>
            {% for blog in related_blogs  %}
            {% if forloop.counter0 <= 1 %}
            <div class='col-md-6 my-3 brand-tile'>
            <a href="{{blog.get_absolute_url}}">
                <div class='row'>
                    <div class='col-sm-6 p-1'>
                        <h2>{{blog.name}}</h2>
                        <p class='my-3'>{{blog.teaser|safe}}</p>
                        <i>{{blog.blog_date_create}}</i>
                    </div>
                    <div class='col-sm-6 d-flex justify-content-center p-1 thumb'>
                        <img class='img-fluid' src="{{blog.hero_image.url}}" alt="Blogpost thumbnail">
                    </div>
                </div>
            </a>   
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<!--OVERVIEW OF THE BOTTLES-->

    <div class='row d-flex justify-content-center my-5'>
        <h1 class='my-4 text-center'>GREAT BOTTLES OF {% if category.subcategory %}{{category.subcategory | upper}}{% else %}{{category.name |upper}}{% endif %}</h1>
        {% for bottle in bottles  %}
        <div class="col-md-3 m-3 brand-tile"> 
            <a href="{{bottle.get_absolute_url}}">
            <div class='my-4 brand-img text-center'>
                <img class='img-fluid' src={{bottle.image.url}} class='img-fluid' alt="Picture of {{bottle.name}}">
            </div>
            
            <div class="text-center">
                <i><h4>{{bottle.brand}}</h4></i>
                <h2>{{bottle.name | upper}}</h2>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}