{% extends 'base.html' %}
{% load static %}
{% block title %}Barts Academy Dashboard{% endblock title %}
{% block page-css %}<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">{% endblock page-css %}

{% block content %}

<div id="top"></div>
<div class='container my-5'>
    <div class='row'>
        <div class='col-md-3 dashboard-menu my-2'>
            <h2 hx-get= "{% url 'Academy:dashboard_list' item='Category' %}"
                hx-trigger= 'click'
                hx-target= '#main'
                hx-swap='outerhtml'>CATEGORIES</h2>
            <h2 hx-get= "{% url 'Academy:dashboard_list' item='Bottle' %}"
                hx-trigger= 'click'
                hx-target= '#main'
                hx-swap='outerhtml'>BOTTLES</h2>
            <h2 hx-get= "{% url 'Academy:dashboard_list' item='Brand' %}"
                hx-trigger= 'click'
                hx-target= '#main'
                hx-swap='outerhtml'>BRANDS</h2>
                <h2 hx-get= "{% url 'Academy:dashboard_list' item='Blog' %}"
                hx-trigger= 'click'
                hx-target= '#main'
                hx-swap='outerhtml'>BLOGS</h2>
            {% comment %} <a href="{% url "Academy:sku_importer" %}"><h2>IMPORT</h2></a> {% endcomment %}
        </div>

        <div class='col-md-9 my-2' id='main'>
            <h1>Admin Dashboard</h1>
        </div>
    </div>
</div>


{% endblock content %}