{% extends 'base.html' %}
{% load static %}
{% load academy_tags %}
{% block title %}Barts Academy{% endblock title %}
{% block meta-seo %}

    <meta name='description' content="at Barts Academy we care about providing you with all the spirits info, trends, trainings and recipes you could ever want">
    <meta name='keywords' content="Barts Academy, Bartending, Bar academy, free cocktails, learning cocktails, bar management, spirits, liqueurs">

{% endblock meta-seo %}


{% block page-css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
{% endblock page-css %}

{% block content %}

<!--Intro hero-->
<div class='container'>
    <div class='row my-3'>
        <img class='main col-lg-6 p-3' src="{{image.image.url}}" alt="{{image.name}}" title="{{image.name}}">
        <div class='col-lg-6 p-3 order-first order-md-2 text-center'>
            <article>
                <h2 class='mb-3'>BARTS ACADEMY</h2>
                <p>Always been curious about the difference between Agave spirits or what makes a London Dry gin stand out in the sea of gins? Together with Bart's Bottles and Cane&Grain we have a large network of bartenders, distillers and brand creators who love to tell you all about it!</p>
                <p>With global information on all different spirit categories as well as a deep dive into specific bottles, brands and drinks we bring the latest trends and techniques right to your screen.</p>
                <p>Whether you're new to spirits or the all-knowing connoisseur we have something for everyone.</p> 
                <p><b>Welcome to Bart's Academy</b></p>   
            </article>       
        </div>
    </div>
</div>

<!--Bottle carousel-->
<div class='container my-3 g-0'>
    <div class='owl-carousel'>
        {% for bottle in bottles|shuffle %}
            <div class="sku mb-5">
                <a href="{{bottle.get_absolute_url}}">
                    <div class='d-flex justify-content-center'>
                        <img src="{{bottle.image}}" alt="{{bottle.name}}" title="{{bottle.brand}} - {{bottle.name}}">
                    </div>
                    <div class='my-2 bottle'>
                        <h4>{{bottle.brand}}</h4>
                        <h2>{{bottle.name | upper}}</h2>
                    </div>
                </a>
                </div>
            {% endfor %}
    </div>
</div>

<!-- Random category "learn more"-->
<div class='container my-5 test'>

    <div class='row my-3'>
        <div class='col-lg-6 p-3 test'>
            <div class='text-center'>
            <article>
                <h2 class='mb-3'>LEARN MORE ABOUT {% if category.subcategory %}{{category.subcategory|upper}}{% else %}{{category.name|upper}}{% endif %}</h2>
                {{category.teaser|safe}} 
                <a href="{{category.get_absolute_url}}"><h2 class='button my-3'>LEARN MORE</h2></a>
            </article>       
            </div>
        </div>
        <img class='main main-category col-lg-6 p-3 test' src="{{category.image.url}}" alt="{{category.name}}" title="{{category.name}}">
    </div>

</div>


<!--Latest blogpost-->
<div class='container blog-hero my-5 slow-load test'>

    <div class='row my-3'>
        <img class='col-md-6 main main-category p-3 test' src={{blog.hero_image.url}} alt="Latest blog image">
        <div class='col-md-6 text-center p-3 test'>
            <h2>{{blog.name | upper}}</h2>
            <div class='d-flex justify-content-center mb-2'>
                <i>{{blog.blog_date_edit}}</i>
            </div>
            <div class='mx-4'>
                {{blog.teaser | safe}}
            </div>



            <div class='d-flex justify-content-center mt-5'>
                <a href="{{blog.get_absolute_url}}"><h2 class='button my-3'>READ MORE</h2></a>  
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}

<script src="{% static 'scripts/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/owl.js' %}"></script>

{% endblock scripts %}


