{% extends 'base.html' %}
{% load static %}
{% load academy_tags %}
{% block title %}Barts Academy{% endblock title %}
{% block page-css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
{% endblock page-css %}

{% block content %}

<div class='container'>
    <div class='row my-3'>
        <img class='main col-lg-6 p-3' src="{{image.image.url}}" alt="{{image.name}}" title="{{image.name}}">
        <div class='col-lg-6 p-3 order-first order-md-2 text-center'>
            <article>
                <h2 class='mb-3'>BARTS ACADEMY</h2>
                <p>At Barts Academy we care about proving you with all the info, trends and recipes you could ever want.</p>
                <p>With global information on all the different categories as well as deep, technical info on specific products we try and provide unbiased, clean info. Through our international network in the bar industry, we get the latest trends and techniques right to your doorstep.</p>    
            </article>       
        </div>
    </div>
</div>

<div class='container my-3 g-0'>
    <div class='owl-carousel'>
        {% for bottle in bottles|shuffle %}
            <div class="sku mb-5">
                <a href="{{bottle.get_absolute_url}}">
                    <div class='d-flex justify-content-center'>
                        <img src="{{bottle.image.url}}" alt="{{bottle.name}}" title="{{bottle.brand}} - {{bottle.name}}">
                    </div>
                    <div class='my-2 bottle'>
                        <h4>{{bottle.brand}}</h4>
                        <h2>{{bottle.name}}</h2>
                    </div>
                </a>
                </div>
            {% endfor %}
    </div>
</div>

<div class='container my-5'>

    <div class='row my-3'>
        <div class='col-lg-6 p-3'>
            <div class='text-center'>
            <article>
                <h2 class='mb-3'>LEARN MORE ABOUT {% if category.subcategory %}{{category.subcategory|upper}}{% else %}{{category.name|upper}}{% endif %}</h2>
                <p>{{category.teaser|safe}}</p>   
                <a href="{{category.get_absolute_url}}"><h2 class='button my-3'>LEARN MORE</h2></a>
            </article>       
            </div>
        </div>
        <img class='main main-category col-lg-6 p-3' src="{{category.image.url}}" alt="{{category.name}}" title="{{category.name}}">
    </div>

</div>

{% endblock content %}


{% block scripts %}

<script src="{% static 'scripts/owl.carousel.js' %}"></script>

{% endblock scripts %}


