{% extends 'base.html' %}
{% load static %}
{% block title %}Recipes{% endblock title %}
{% block page-css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock page-css %}


{% block meta-seo %}

    <meta name='description' content="Find an overview of all recipes and their background information on Barts Academy.">
    <meta name='keywords' content="Recipes, Spirits, Liqueurs">

{% endblock meta-seo %}


{% block content %}
<div class='top'></div>
{% for recipe in recipes  %}
{% if forloop.first %}
<div class='container blog-hero hero-image my-5 slow-load grey round'>
    <a href="{{recipe.get_absolute_url}}#top">

        <div class='row'>
            <img class="col-md-6 img-fluid g-0" src="{{recipe.image.url}}" alt="Picture of {{recipe.name}}">
            <div class='col-md-6'>
                <h1 class='text-center my-3'>{{recipe.name | upper}}</h1>
                <p>{{recipe.description | safe}}</p>
    
    
                <div class='d-flex justify-content-center mb-2'>
                        {% for type in recipe.type.all  %}
                            <h3 class='grey-tag-small'>{{type}}</h3>
                        {% endfor %}
                        {% for taste in recipe.taste.all  %}
                            <h3 class='grey-tag-small'>{{taste}}</h3>
                        {% endfor %}
                        {% for occasion in recipe.occasion.all  %}
                            <h3 class='grey-tag-small'>{{occasion}}</h3>
                        {% endfor %}
                </div>
            </div>
        </div>

    </a>
</div>
{% endif %}
{% endfor %}

<div class='container'>

    <div class='my-3'>
        <h1 class='text-center'>How we categorize drinks.</h1> 
        <p>
            We categorize our recipe in three main categories: Type, Taste and Occasion. This will help you find drinks fast and easy. To keep things accasible we have five subcategories per main category.
        </p>

        <div class='col-lg d-flex justify-content-center'>
            <a role='button' data-bs-toggle="modal" data-bs-target="#readMoreModal">
                <p class="button">READ MORE</p> 
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade p-5" id="readMoreModal" tabindex="-1" aria-labelledby="readMoreModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class='modal-title w-100'>HOW WE CLASSIFY COCKTAILS</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class='row my-3'>
                <div class="col-md-4 col-sm-12 text-center" id="headingOne">
                    <h5 class="mb-0">
                    <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class='button'>TYPE</h4>
                    </button>
                    </h5>
                </div>    

                <div class="text-center col-md-4 col-sm-12" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo collapseOne">
                        <h4 class='button'>TASTE</h4>
                    </button>
                    </h5>
                </div>

                <div class="text-center col-md-4 col-sm-12" id="headingThree">
                    <h5 class="mb-0">
                    <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4 class='button'>OCCASION</h4>
                    </button>
                    </h5>
                </div>

            </div>


            <div class="accordion" id="explainer">
                <div class="">
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#explainer">
                    <div class="card-body mx-3">
                        <article>
                        <p>
                            <b>Martini</b> Any combination between a spirit and a fortified wine can be considered a martini- style cocktail. Cause a manhattan is just a sweet whisky martini isn't it? Usually spirit forward and served without ice, these drinks all have a similarity in their style and effect. 
                            <br><br>
                            <b>Sours</b> Everything that's a combination of a spirit, a sour and a sweet! The easiest combination to make cocktails that inspired so many different cocktails. A gin daisy is just a daiquiri with different ingredients, but it follows the same principle. In this category you can find all sour style cocktails that follow a certain pattern. 
                            <br><br>
                            <b>Old Fashioned</b> Spirit, sugar, bitter. The old fashioned way to make a cocktail. This combination of flavours can be found in many different varieties, but always comes down to the same thing and is a tried and tested style of making cocktails. No wonder it is the old fashioned way of making a mixed drink, since it almost always works.  
                            <br><br>
                            <b>Highball</b> One part spirit, two parts mixer. Sounds simple, but has endless applications. From a simple Cuba Libre to collins style drinks, they all use the pattern of a big spirit base with a light mixer. 
                            <br><br>
                            <b>Punch</b> 1 of sour, 2 of sweet, 3 of strong, 4 of weak. A timeless rhyme to make mixed drinks before mixed drinks were a thing and an easy way to make anything taste good. 
                        </p>
                        </article>
                    </div>
                </div>

                </div>

                <div class="">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#explainer">
                    <div class="card-body mx-3">
                        <p>Taste is how we describe the basic flavor profile. <b>Bitter, sweet, sour, heavy,</b> and <b>light</b>. These will make it easy to distinguish the base profile of the drink. We understand there are a lot more subtleties to taste and flavor, but we aim to keep things easy to understand.</p>
                    </div>
                </div>
                </div>


                <div class="">
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#explainer">
                    <div class="card-body mx-3">
                        <article>
                            <p>
                                <b>Aperitif</b> Pre-dinner drinks.
                                <br><br>
                                <b>Digestive</b> After-dinner drinks.
                                <br><br>
                                <b>Night Out</b> Refreshing drinks for the start of the night.
                                <br><br>
                                <b>Festive</b> Fine and classy.
                                <br><br>
                                <b>Easy At Home</b> Easy to make with few ingredients.
                            </p>
                            </article>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container g-0 mt-5'>
    <div class='text-center grey py-2 round'>
        <h4>FILTERS</h4>


        <div class='d-flex flex-sm-row flex-column justify-content-center text-center'>
            <div class="dropdown-center show">
                <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4 class='grey-button'>TYPE</h4>
                </a>
            
                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='categoryDropdown'>
                            <input type="text" placeholder="Search.." id="myInputType" onkeyup="filterFunction('myInputType', 'categoryDropdown')" class='form-control my-3 w-75 mx-auto'>
                            <p  hx-get="{% url 'Academy:recipes_list' %}"
                            hx-trigger='click'
                            hx-target='#recipes'
                            hx-swap='outerhtml'
                            hx-push-url='true'                            
                            >All Types</p>
                        {% for type in type_options  %}
                            <p  hx-get="{% url 'Academy:recipes_filtered_list' sort='type' filter=type %}"
                                hx-trigger='click'
                                hx-target='#recipes'
                                hx-swap='outerhtml'
                                hx-push-url='true'>
                            {{type}}</p>
                        {% endfor %}     
                </div>
            </div>


            <div class="dropdown-center show">
                <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false my-1">
                <h4 class='grey-button'>TASTE</h4>
                </a>
            
                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='countryDropdown'>
                    <input type="text" placeholder="Search.." id="myInputTaste" onkeyup="filterFunction('myInputTaste', 'countryDropdown')" class='form-control my-3 w-75 mx-auto'>
                    <p  hx-get="{% url 'Academy:recipes_list' %}"
                        hx-trigger='click'
                        hx-target='#recipes'
                        hx-swap='outerhtml'
                        hx-push-url='true'                            
                        >All Flavours</p>
                    {% for taste in taste_options  %}
                        <p  hx-get="{% url 'Academy:recipes_filtered_list' sort='taste' filter=taste %}"
                        hx-trigger='click'
                        hx-target='#recipes'
                        hx-swap='outerhtml'
                        hx-push-url='true'>
                        {{taste}}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="dropdown-center show">
                <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false my-1">
                <h4 class='grey-button'>OCCASION</h4>
                </a>
            
                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" id='countryDropdown'>
                    <input type="text" placeholder="Search.." id="myInputOccasion" onkeyup="filterFunction('myInputOccasion', 'countryDropdown')" class='form-control my-3 w-75 mx-auto'>
                    <p  hx-get="{% url 'Academy:brands' %}"
                        hx-trigger='click'
                        hx-target='#brands'
                        hx-swap='outerhtml'
                        hx-push-url='true'                            
                        >All Occasions</p>
                        {% for occasion in occasion_options %}
                            <p  hx-get="{% url 'Academy:recipes_filtered_list' sort='occasion' filter=occasion %}"
                            hx-trigger='click'
                            hx-target='#recipes'
                            hx-swap='outerhtml'
                            hx-push-url='true'>
                            {{occasion}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class='row'>

            <div class='d-flex flex-sm-row flex-column justify-content-center text-center'>
                <input type="text" placeholder="Search.." id="myInputRecipes" onkeyup="searchFunction('myInputRecipes', 'tile')" class='form-control my-3 w-50'>
            </div>

        </div>

    </div>
</div>


<div class='container my-5 slow-load' id='recipes'>
    <div class='row d-flex justify-content-center g-0'>

        {% for recipe in recipes|slice:"1:"  %}
            <div class='col-md-4 col-lg-3 col-sm-4 m-2 tile slow-load'> 
                <a href="{{recipe.get_absolute_url}}#top">
                    <div class='mb-2 text-center'>
                        <img class='img-fluid blog-tile-image' src={{recipe.image.url}} class='img-fluid' alt="Picture of {{recipe.name}}">
                    </div>

                    <div class='d-flex justify-content-center mb-4'>
                        {% for type in recipe.type.all  %}
                            <h3 class='tag-small'>{{type}}</h3>
                        {% endfor %}
                        {% for taste in recipe.taste.all  %}
                            <h3 class='tag-small'>{{taste}}</h3>
                        {% endfor %}
                        {% for occasion in recipe.occasion.all  %}
                            <h3 class='tag-small'>{{occasion}}</h3>
                        {% endfor %}
                    </div>
                    
                    <div class="text-center">
                        <h2>{{recipe.name | upper}}</h2>
                    </div>


                </a>
            </div>
        {% endfor %}
       
    </div>
</div>
</div>


{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>
{% endblock scripts %}