{% extends 'base.html' %}
{% block title %}test{% endblock title %}

{% block content %}

 <div class='container'>

       <h1> test:</h1>
{% comment %} 
    {% for blogs in obj  %}
    
        <h1>{{blogs.name}}</h1>
        {% for item in blogs.category_tag.all  %}

        <h3>tag:</h3>
        <h2>{{item.name}}</h2>
        <h2>{{item.subcategory}}</h2>
    
        {% endfor %}

    {% endfor %}     {% endcomment %}

    </div>

    <div class='container my-5'>

        {% for blog in obj2  %}
        {% ifchanged blog.name %}
        <div class='test my-5'>
        
            <a href="{{blog.get_absolute_url}}"><h2>{{blog.name}}</h2></a>
            <h4>tags:</h4>
            {% for tag in blog.category_tag.all %}
            <li>{{tag}}</li>
            {% endfor %}

            <h4>brand:</h4>
            {% for tag in blog.brand_tag.all  %}
            <li>{{tag}}</li>
            {% endfor %}

            <h4>bottle:</h4>
            {% for tag in blog.bottle_tag.all  %}
            <li>{{tag}}</li>
            {% endfor %}
        
        {% endifchanged %}
        {% endfor %}
        </div>
    </div>

    </div>

        

{% endblock content %}








