{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Barts Academy - CRUD admin{% endblock title %}
{% block page-css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css"> 
  {{blog_form.media}} 
{% endblock page-css %}

{% block scripts %}

<script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>

{% endblock scripts %}
{% block content %}

<h1>Reassemble Video</h1>
<form method="post" action="{% url 'Academy:reassemble_video' %}">
    {% csrf_token %}
    <div>
        <label for="title">Video Title:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="chunks_prefix">Chunks Prefix:</label>
        <input type="text" id="chunks_prefix" name="chunks_prefix" required>
    </div>
    <div>
        <button type="submit">Reassemble Video</button>
    </div>
</form>

{% if url %}
<h2>Video Reassembled Successfully!</h2>
<p>Video URL: <a href="{{ url }}" target="_blank">{{ url }}</a></p>
{% endif %}

{% endblock content %} 
