{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Barts Academy - CRUD admin{% endblock title %}
{% block page-css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css"> 
  {{blog_form.media}} 
{% endblock page-css %}

{% block scripts %}

<script src="https://cdn.tiny.cloud/1/i7tg69zsj8xu2h7jinf65cpdznto148y1qexevwopnv9m9ng/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>

{% endblock scripts %}

{% block content %}
<div class='container'>

<div class='d-flex justify-content-center'>
  <h1 class='grey-button'
    hx-get="{% url "Academy:recipes_filtered_list" sort='type' filter='Sour' %}"
    hx-target='#target'
    hx-trigger='click'
    hx-swap='outerhtml'
  >LINK</h1>
</div>


<div id='target'>
  <h1>test</h1>
</div>





</div>


{% endblock content %} 
