<div class='row d-flex justify-content-center'>
    {% for category in categories  %}
    <div class="{% cycle 'col-md-6' 'col-md-6' 'col-md-12' %} my-2 d-flex justify-content-center category-tile">
        <a class='category-link' href="{{category.get_overview_link}}">
            <div class="{% cycle 'row' 'rowreverse' %}">
                <div class='col-6'>
                    <h1 class='mt-3 text-center'>{% if category.subcategory %}{{category.subcategory | upper}}{% else %}{{category.name | upper}}{% endif %}</h1>
                    <p>{{category.teaser | safe}}</p>
                </div>
                <img class='category-logo col-6' src="{{category.logo.url}}" alt="Logo of category" title="Logo of {% if category.subcategory %}{{category.subcategory}}{% else %}{{category.name}}{% endif %}">
            </div>
            
            
        </a>
    </div>
    {% endfor %}
</div>