{% load static %}


    <div class='row d-flex justify-content-center g-0'>

        {% for recipe in recipes  %}
            <div class='col-md-4 col-lg-3 col-sm-4 m-2 tile slow-load'>
                <a href="{{recipe.get_absolute_url}}#top">
                    <div class='mb-2 text-center tile-image'>
                        <img class='img-fluid tile-image' src={{recipe.image.url}} class='img-fluid' alt="Picture of {{recipe.name}}">
                    </div>

                    <div class='d-flex justify-content-center mb-4'>
                        {% for type in recipe.type.all  %}
                            <h3 class='tag-small'>{{type}}</h3>
                        {% endfor %}
                        {% for taste in recipe.taste.all  %}
                            <h3 class='tag-small'>{{taste}}</h3>
                        {% endfor %}
                        {% for occasion in recipe.occasion.all  %}
                            <h3 class='tag-small'>{{occasion}}</h3>
                        {% endfor %}
                    </div>
                    
                    <div class="text-center">
                        <h2>{{recipe.name | upper}}</h2>
                    </div>


                </a>
            </div>
        {% endfor %}
       
    </div>